body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  padding: 0 140px;
  margin: 0 auto;
}

.main-header {
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.main-header-catalog {
  margin-bottom: 55px;
}

.main-header-logo {
  width: 165px;
  height: 65px;

  margin-top: 49px;

  margin-right: 199px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  display: flex;
  line-height: 30px;

  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;

  margin-top: 75px;
}

.user-navigation {
  display: flex;
  max-width: 183px;
  margin-top: 75px;
  margin-left: auto;
}

.user-navigation .basket {
  position: relative;
  padding-left: 40px;
}

.active {
  position: relative;
}

.active::before {
  content: "";
  position: absolute;

  top: 25px;

  width: 74px;
  height: 2px;

  background-color: #fb565a;
}

.basket::before {
  content: "";

  position: absolute;
  width: 15px;
  height: 15px;

  left: 1px;
  top: 1px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.site-navigation a,
.user-navigation a {
 color: #000000;
}

.site-navigation a {
  padding-right: 45px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a7a7a7;
}

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  top: 308px;

  transform: translateX(-50%);
  font-size: 0;
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;

  padding-top: 78px;
  padding-bottom: 78px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 100%;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}


#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 515px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  color: #000000;
}

.slider-item p {
  max-width: 409px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 17px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  background-color: #fb565a;
  border-radius: 3px;
  color: #ffffff;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: #e37376;
}

.index-column {
  position: relative;

  display: flex;
  justify-content: space-between;

  margin-bottom: 85px;
}

.index-column::after {
  content: "";
  position: absolute;
  bottom: -35px;

  width: 100%;
  height: 2px;

  background-image: url("../img/divide.svg");
}


.features {
  position: relative;
  margin-bottom: 122px;
}

.features::after {
  content: "";
  position: absolute;
  bottom: -80px;

  width: 100%;
  height: 2px;

  background-image: url("../img/divide.svg");
}

.features-list {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  width: 300px;
}

.features-item img {
  margin-bottom: 19px;
}

.features-list h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  color: #000000;
}

.features-list p {
  display: block;
  width: 250px;
  margin: 0;
  margin-bottom: 30px;
}

.features-button {
  font: inherit;
  display: block;
  width: 160px;
  padding: 16px 0;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

  color: #ffffff;

  border: none;
  border-radius: 2px;
}

.features-button-red {
  background-color: #fb565a;
}

.features-button-red:hover,
.features-button-red:focus {
  background-color: #e74246;
}

.features-button-red:active {
  background-color: #d7373b;
  color: #e37376;

  border-top: 3px solid #c13135;
}

.features-button-green {
  background-color: #00ca74;
}

.features-button-green:hover,
.features-button-green:focus {
  background-color: #00bc6c;
}

.features-button-green:active {
  background-color: #00aa62;
  color: #4cc491;

  border-top: 3px solid #009958;
}

.features-button-yellow {
  background-color: #efc84a;
}

.features-button-yellow:hover,
.features-button-yellow:focus {
  background-color: #eab534;
}

.features-button-yellow:active {
  background-color: #e5a722;
  color: #edc164;

  border-top: 3px solid #ce961f;
}

.about-us {
  width: 650px;
}

.about-us h2 {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 35px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;

  color: #000000;
}

.about-us p {
  margin: 0;
  margin-bottom: 38px;
}

.about-us h3 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;

  color: #000000;
}

.work-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.work-item {
  position: relative;

  padding-left: 40px;
  margin-bottom: 30px;
}

.work-item::before {
  content: "";
  position: absolute;

  width: 25px;
  height: 2px;

  left: 1px;
  top: 10px;

  background-color: #fb565a;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}

.statistics img {
  margin-bottom: 40px;
}

.statistics b {
  margin: 0;
  padding: 0;
  margin-bottom: 49px;

  text-transform: uppercase;

  color: #000000;
}

.statistics th {
  padding-bottom: 26px;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  padding-right: 10px;
}

.statistics td {
  padding: 0;
}

.table sup {
  top: -0.4em;
  font-size: 65%;
}

.our-sites {
  position: relative;
  margin-bottom: 114px;
}

.our-sites::after {
  content: "";
  position: absolute;
  bottom: -33px;

  width: 100%;
  height: 2px;

  background-image: url("../img/divide.svg");
}

.sites-list {
  display: flex;
  justify-content: space-between;
  width: 1070px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 30px;
}

.site-item::before {
  content: "";
  position: absolute;

  width: 2px;
  height: 52px;

  left: 1px;
  top: 5px;

  background-color: #eeeeee;
}

.site-item:nth-child(1):before {
  display: none;
}

.site-item img {
  opacity: 0.2;
}

.site-item img:hover,
.site-item img:focus {
  opacity: 1;
}

.site-item img:active {
  opacity: 0.1;
}

iframe {
  width: 100%;
}

.main-footer {
  display: flex;
  padding: 65px 0;
}

.main-footer .container {
  display: flex;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  padding: 0;
  margin-right: 140px;

  list-style: none;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-item:hover,
.social-item:focus {
  background-color: #e74246;
}

.social-item:active {
  background-color: #d7373b;
}

.social-item:active svg {
  opacity: 0.3;
}


.bonus {
  width: 550px;
}

.bonus p {
  margin: 0;
}


.bonus b {
  display: block;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;

  color: #000000;

  margin-bottom: 12px;
}

.main-header {
  min-height: 355px;
}

.main-header h1 {
  margin: 0;
  margin-top: 80px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  color: #000000;

  text-align: center;
}

.filter {
  margin-right: 70px;
}

.filter h3 {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05px;

  color: #000000;

}

.filter fieldset {
  width: 260px;
  margin: 0;
  padding: 0;

  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05px;

  color: #000000;
}

.filter .button,
.page-list .button {
  width: 260px;
  border: none;

  background-color: #eeeeee;


  color: #000000;
}

.filter .button:hover,
.filter .button:focus {
  background-color: #dfdfdf;
}

.filter .button:active {
  background-color: #d5d5d5;

  border: 2px solid #bfbfbf;
}

.filter-grid legend,
.filter-feature legend {
  margin-bottom: 20px;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-grid ul {
  margin-bottom: 42px;
}

.filter-feature ul {
  margin-bottom: 40px;
}

.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-top: 48px;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;

  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  background-color: #ababab;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;

  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 13px 10px;
  margin-left: 10px;
  margin-bottom: 40px;

  font-size: 16px;
  text-align: center;

  border: none;
  background: #f1f1f1;
}

.filter-option {
  margin-bottom: 15px;
  padding-left: 35px;
}


.filter-option label {
  position: relative;

  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;

  top: 0px;
  left: -35px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.filter-input-checkbox + label:hover:before {
  opacity: 1;
}

.filter-input-checkbox:checked + label::before {
  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;

  width: 18px;
  height: 18px;

  background-color: white;
  border: 4px solid #a6a6a6;
  border-radius: 50%;
}

.filter-input-radio + label:hover:before {
  border: 4px solid #4d4d4d;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -26px;

  width: 9px;
  height: 9px;

  border-radius: 50%;
  background-color: #a6a6a6;
}

.filter-input-radio:checked + label:hover:after {
  background-color: #4d4d4d;
}

.catalog-block {
  width: 770px;
}

.catalog-column {
  display: flex;
}

.catalog-filter h3 {
  margin: 0;
  margin-right: 260px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05px;

  color: #000000;
}

.catalog-filter {
  display: flex;

  margin-bottom: 20px;

}

.catalog-filter ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-item {
  display: block;
  margin-right: 26px;

  color: #b2b2b2;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.sort-item:hover,
.sort-item:focus {
  color: #666666;
}

.sort-item:active {
  color: #000000;
}

.sort-item-active {
  color: #000000;
}

.icon-item-up,
.icon-item-down {
  position: relative;

  font-size: 0;
}

.icon-item-up:hover,
.icon-item-up:focus,
.icon-item-down:hover,
.icon-item-down:focus {
  opacity: 0.2;
}

.icon-item-down::before {
  content: "";
  position: absolute;
  bottom: -2px;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir.svg");
}

.icon-item-up::before {
  content: "";
  position: absolute;
  left: 20px;
  top: -8px;

  width: 11px;
  height: 10px;

  opacity: 0.5;

  background-image: url("../img/icon-up-dir.svg");
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 65px;

  list-style: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  padding-top: 63px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 23px;

  width: 360px;
  height: 40px;

  background-image: url("../img/browser.svg");

  opacity: 0.3;
}

.catalog-item:hover:before {
  opacity: 1;
}

.catalog-item:hover .details {
  display: flex;
}

.page-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;;
  width: 440px;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;

  list-style: none;
}

.page-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 18px;

  background-color: #eeeeee;
  color: #000000;
  font-weight: 500;
  border: 3px solid #eeeeee;
}

.page-item:hover,
.page-item:focus {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.page-item:active {
  background-color: #d5d5d5;
  border-top: 3px solid #bfbfbf;
}

.on-page {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.details {
  content: "";
  position: absolute;

  width: 360px;
  height: 231px;

  bottom: 1px;

  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;

  text-align: center;
  background-color: #eeeeee;
}

.details header {
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  text-transform: uppercase;

  color: #000000;
}

.details p {
  margin: 0;
  padding: 0 80px;

  margin-bottom: 30px;
}

.map {
  position: relative;
}

.contacts {
  position: absolute;

  top: 55px;
  left: 370px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 219px;

  padding: 50px 50px;

  background-color: #ffffff;
}

.contacts header {
  margin-bottom: 30px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  text-transform: uppercase;
}

.contacts-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  color: #666666;
}

.contacts-item:nth-child(1) {
  margin-bottom: 20px;
}

.contact-list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  list-style: none;
}


.modal {
  display: none;
  position: fixed;
  top: 200px;
  left: 50%;

  width: 770px;
  padding-left: 99px;
  padding-top: 78px;
  padding-bottom: 90px;
  padding-right: 90px;
  margin-left: -500px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal input:hover,
.modal textarea:hover {
  border: 2px solid #b4b9bb;
  color: #a2a2a2;
}

.modal input:focus,
.modal textarea:focus {
  border: 2px solid #000000;
  color: #444444;
}

.modal-error {
  border: 2px solid #e74246;
  color: #e74246;
}

.modal h2 {
  margin: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;

  color: #000000;
}

.modal label {
  display: block;
  margin-bottom: 12px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  color: #000000;
}

.modal-column {
  display: flex;
  justify-content: space-between;

  margin-bottom: 36px;
}

.modal-comment {
  display: flex;
  flex-direction: column;

  margin-bottom: 47px;
}

.modal-close {
  position: absolute;
  top: 130px;
  right: 50px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background-image: url("../img/close-cross.svg");
  background-color: #ffffff;
  border: 0;
  cursor: pointer;

  opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.write-us input[type="text"] {
  box-sizing: border-box;
  width: 360px;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 12px;

  font: inherit;
}

.write-us .button {
  width: 260px;
}

.modal-show {
  display: block;
}
